.two-columns {
  /* сбрасиываем отступы на уровне блока */
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  max-width: 175px;

  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__brief_text-decoration_color {
  color: #2f80ed
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

/* выравнивание элементов - задача parent */
.two-columns__main-text_intent {
  margin-top: 30px;
  margin-bottom: 30px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
